
<%= form_with url: session_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, required: true%>

  <%= f.label :password %>
  <%= f.password_field :password, required: true %>

  <%= f.submit "Sign In" %><br/>
  <p style="float:left">New User? <span class="signup"><%= link_to 'signup here', signup_path %></span> </p>
<% end %>